<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>EXAMPLE</title>
    <%- include('./partials/dhr-meta-tags'); %>
  </head>
  <body>

    <h1>404</h1>
    <p>page not found</p>

  </body>
</html>
