<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>EXAMPLE</title>
    <%- include('./partials/dhr-meta-tags'); %>
    <style media="screen">
      @import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap);

      body {
        background: url(https://i.imgur.com/l2TPAmx.jpeg);
        background-size: 200px;
        font-family: "DM Serif Display", serif;
      }

      header {
        display: flex;
        justify-content: space-between;
        max-width: 1020px;
        margin: 0 auto;
        line-height: 80px;
        text-transform: uppercase;
        font-size: 48px;
      }

      .title {
        padding-top: 111px;
      }

      .blue-text {
        color: #137ab1;
      }

      .big-text {
        font-size: 95px;
        text-transform: none;
      }

      .list {
        max-width: 1020px;
        margin: 0 auto;
      }

      li > a {
        font-size: 32px;
        text-decoration: none;
        color: #137ab1;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="title">
        Digitizing
        <br>
        <span class="big-text">
          <span class="blue-text">H</span>uman
          <span class="blue-text">R</span>ights
        </span>
      </div>
    </header>

    <section class="list">
      <hr>
      <h2>Files:</h2>
      <ul>
      <% data.homepage.files.forEach((file) => { %>
        <li>
          <a href="/editor?file=<%= file %>"><%= file %></a>
        </li>
      <% }); %>
      </ul>
    </section>

  </body>
</html>
